<body>
  <aside *ngIf="isOn">
    <app-aside clss="aside">

    </app-aside>
  </aside>
  <div class="content">
    <header>
      <app-nav-bar (showEvent)="receiveEvent($event)"></app-nav-bar>
    </header>
    <main>
      main
    </main>
    <footer>FOOTER</footer>
  </div>
</body>

  <!--<div class="container">
    <div class="left">
      Left
    </div>
    <div class="right">
      Right
      <button class="button">Button</button>
    </div>
  </div>-->

<!--  <router-outlet></router-outlet>-->
