@mixin themable($theme-name, $container-bg, $left-bg, $right-bg, $innertext, $button-bg) {
  .#{$theme-name} {

    body {
      background-color: $container-bg;
      height: 100vh;
      display: flex;
    }

    .leftside {
      background-color: $left-bg;
      height: 100vh;
      flex: none;
      position: absolute;
      width: 200px;
      overflow-y: auto;
      display: flex;

      /*@media screen and (orientation: landscape) {
           position: relative;    
      }*/
  
    }

    .content {
      flex: auto;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
    }

    .content main {
      background-color: $right-bg;
      flex: auto;
    }

    .content header {
      background-color: $button-bg;
    }

    .content footer {
      background-color: $button-bg;
      height: 50px;
    }
    @media screen and (orientation: landscape) {
      .leftside {
        position: relative;

      }
    }
  }
}
  @include themable(theme-1, #f7eb80, #497265, #82aa91, #fff, #bc6a49);
  @include themable(theme-2, #e4ada7, #d88880, #cc6359, #fff, #481b16);



  /*.container {
        background-color: $container-bg;
        border: 1px solid #000;
        display: flex;
        height: 500px;
        justify-content: space-between;
        margin: 0 auto;
        padding: 1em;
        width: 50%;

        * {
          color: $innertext;
          font-size: 2rem;
        }

        .left {
          background-color: $left-bg;
          height: 100%;
          width: 69%;
        }

        .right {
          background-color: $right-bg;
          height: 100%;
          position: relative;
          width: 29%;
        }

        .button {
          background-color: $button-bg;
          border: 0;
          border-radius: 10px;
          bottom: 10px;
          cursor: pointer;
          font-size: 1rem;
          font-weight: bold;
          padding: 1em 2em;
          position: absolute;
          right: 10px;
        }
      }*/
