<div class="col" (mousemove)="coordinates($event)">
  <button type="button" (click)=showAside()>
    ShowAside
  </button>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown" ngbDropdown>
      <a class="nav-link dropdown-toggle" id="id01" href="#" ngbDropdownToggle>ResourceGroup</a>
      <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
        <a class="dropdown-item" href="#">HTML</a>
        <a class="dropdown-item" href="#">TS</a>
        <a class="dropdown-item" href="#">JS</a>
      </div>
    </li>
    <li class="nav-item dropdown" ngbDropdown>
      <a class="nav-link dropdown-toggle" id="id01" href="#" ngbDropdownToggle>VMs</a>
      <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
        <a class="dropdown-item" href="#">HTML</a>
        <a class="dropdown-item" href="#">TS</a>
        <a class="dropdown-item" href="#">JS</a>
      </div>
    </li>
    <li class="nav-item dropdown" ngbDropdown>
      <a class="nav-link dropdown-toggle" id="id01" href="#" ngbDropdownToggle>APP</a>
      <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
        <a class="dropdown-item" href="#">HTML</a>
        <a class="dropdown-item" href="#">TS</a>
        <a class="dropdown-item" href="#">JS</a>
      </div>
    </li>
    <li class="nav-item dropdown" ngbDropdown>
      <a class="nav-link dropdown-toggle" id="id01" href="#" ngbDropdownToggle>DB</a>
      <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
        <a class="dropdown-item" href="#">HTML</a>
        <a class="dropdown-item" href="#">TS</a>
        <a class="dropdown-item" href="#">JS</a>
      </div>
    </li>

  </ul>

</div>
